div.admin-page {
  display: flex;
  flex-direction: column;
  
  >div.header {
    box-shadow: rgba(0, 0, 0, 0.375) 0px 1px 6px -2px;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: papayawhip;
    
    >div.wrapper {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;
      width: 90%;
      margin: 0 auto;
      
      >div.logo {
        
        >h3 {
          font-size: 1.5rem;
          background: linear-gradient(darkslateblue, teal);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      
      >div.admin-user {
        display: flex;
        align-items: center;
        color: darkslateblue;
      }
    }
  }
  
  >div.admin-main {
    flex: 1;
    align-self: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
    margin: 1rem 0;
    
    >details {
      
      >summary {
        list-style: none;
        color: darkslateblue;
        padding: 0.5rem;
        border-radius: 0.25rem;
        background-color: orange;
        text-shadow: 0.5px 0.5px 0px whitesmoke;
        font-weight: bold;
        font-size: 0.9rem;
      }
      
      >div.details {
        margin-top: 0.5rem;
        
        >h6.warning {
          color: orangered;
        }
        
        >form {
          
          >div.input-info {
            gap: 0.5rem 0;
            
            &:has(input:focus) {
              border-bottom-left-radius: 0.25rem !important;
              
              >label {
                color: darkorange;
                background-color: transparent !important;
                text-shadow: 0.125px 0.125px 0px black;
              }
            }
            
            >label {
              width: 5rem;
              
            }
            
            >input {
              flex: 1;
            }
          }
          
          >div.submit {
            display: flex;
            margin-top: 1rem;
            
            >button.btn-submit {
              padding: 0.5rem 1rem;
              border-radius: 0.25rem;
              cursor: pointer;
              border: 0;
              background-color: orangered;
              color: papayawhip;
            }
          }
        }
      }
      
      &.view-loans {
        
        >div.details {
          position: relative;

          >div.tabs {
            margin-top: 0.5rem;
            
            >div.wrapper {
              display: flex;
              background-color: teal;
              width: fit-content;
              gap: 0 0.75px;
              
              >span {
                padding: 0.25rem 0.5rem;
                background-color: orange;
                color: black;
                font-size: 0.85rem;
                
                &.not-tab {
                  background-color: papayawhip;
                  padding: 0;
                  width: 0.75rem;
                  box-shadow: -1px 0px 0px 0px papayawhip;
                }
                
                &.active {
                  background-color: teal;
                  border-top-right-radius: 0.75rem;
                  color: whitesmoke;
                  
                  &+span {
                    border-bottom-left-radius: 0.75rem;
                  }
                  
                  &+span.not-tab {
                    box-shadow: none;
                  }
                }
                
                &:has(+span.active) {
                  border-bottom-right-radius: 0.75rem;
                }
              }
            }
          }
          
          >div.content {
            overflow: scroll;
            
            >table {
              display: flex;
              flex-direction: column;
              border: 2px solid teal;
              border-radius: 0 0.25rem 0.25rem 0.25rem;
              
              tr {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                
              }
              
              thead {
                background-color: #ffe5bc;
                color: darkslateblue;
                border-bottom: 1px solid teal;
              }
              
              tbody>tr {
                &:nth-child(odd) {
                  background-color: whitesmoke;
                }
                
                &:not(&:last-child) {
                  border-bottom: 1px solid lightgray;
                }
                
                >td:nth-child(2),
                >td:last-child {
                  text-align: right;
                }
                
                >td:nth-child(3) {
                  text-align: center;
                }
              }
              
              th,
              td {
                text-align: left;
                padding: 0.5rem 0.25rem;
                font-size: 0.75rem;
                overflow-x: hidden;
                white-space: nowrap;
                
                &:not(&:last-child) {
                  border-right: 1px solid rgba(0, 0, 0, 0.2);
                }
              }
            }
            
            >p {
              font-size: 0.9rem;
              font-style: italic;
              color: gray;
              padding: 0.5rem 0;
            }
          }
          
          >div.page-ctrl {
            display: none;
            justify-content: center;
            position: sticky;
            bottom: 0;
            padding: 0.5rem 0;
            gap: 0 0.5rem;
            
            >button {
              background-color: orange;
              padding: 0.25rem 0.5rem;
              border: none;
              border-radius: 0.25rem;
            }
          }
        }
      }
    }
  }
}