div.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
  
  >div.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.75rem 0.5rem;
    gap: 1.5rem 0;
    background-color: whitesmoke;
    width: 75%;
    border: 2px solid darkslateblue;
    
    >div.logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      >h1 {
        font-size: 2rem;
        background: linear-gradient(darkslateblue, teal);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      
      >small {
        font-size: 0.625rem;
        font-style: italic;
        line-height: 1.25;
        color: orange;
      }
    }
    
    >form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem 0;
      
      >small.cta {
        text-align: center;
        color: darkslateblue;
        
        >a {
          text-decoration: underline dashed orange 2px;
          color: teal;
        }
      }
      
      >div.submit {
        display: flex;
        justify-content: flex-end;
        
        >button.btn-submit {
          padding: 0.5rem 1rem;
          border-radius: 0.25rem;
          cursor: pointer;
          border: 0;
          background-color: orange;
          color: black;
        }
        
        >button.btn-forgot-secret,
        >a.login {
          margin-right: auto;
          font-size: 0.8rem;
          border: none;
          border-radius: 0.5rem;
          align-self: flex-end;
          padding-left: 2px;
          background-color: transparent;

          &:is(button) {
            color: orangered;
            border-bottom: 1.5px solid orangered;
          }
          
          &:is(a) {
            color: teal;
            border-bottom: 1.5px solid teal;
            padding-right: 2px;
          }
        }
      }
    }
  }
}