div[class^="input-"] {
  flex: 1;
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 2.5rem;
  border-radius: 0.25rem;
  border-bottom: 1px solid #66b2b2;
  
  &>span {
    position: absolute;
    bottom: -1.25rem;
    right: -0.25rem;
    padding: 0 0.25rem;
    color: orange;
  }
  
  &>label {
    align-self: flex-end;
    width: 4.25rem;
    user-select: none;
    color: teal;
    border-radius: 0.25rem 0.25rem 0 0.25rem;
    padding-top: 0.2rem;
    padding-left: 0.25rem;
  }
  
  &>input {
    flex: 1;
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    padding: 1.25rem 0.75rem 0;
    line-height: 1.25;
    letter-spacing: 1.25px;
    border: 0;
    color: darkslateblue;
    
    &:focus {
      outline: none;
      -webkit-text-fill-color: teal !important;
      color: teal !important;
      
      &::placeholder {
        visibility: hidden;
      }
    }
  }
  
  &>button {
    color: teal;
    background-color: transparent;
    cursor: pointer;
    border: 0;
  }
  
  &:has(input:focus) {
    border-bottom: 1.25px solid orange;
    
    &>button>span.lu-icon {
      color: orange;
    }
    
    &>label {
      color: black;
      background-color: orange;
    }
  }
}