div.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &>h4 {
    width: 100%;
    padding: 1rem 0;
    color: darkslateblue;
  }
  
  &>div.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem 0;
    width: 100%;
    padding: 1.5rem 0;
    box-shadow: rgba(0, 0, 0, 0.375) 0px 1px 6px -2px;
    border-radius: 0.5rem;
    background-image: url('../assets/imgs/bg.svg');
    background-repeat: repeat;
    background-position: left;
    background-size: contain;
    background-color: whitesmoke;
    
    &>h3 {
      color: teal;
      font-weight: bolder;
    }
    
    &>button {
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      border: 0;
      background-color: orange;
      font-weight: bolder;
    }
  }
  
  &>div.actions {
    display: flex;
    justify-content: center;
    gap: 0 0.5rem;
    margin: 1rem 0;
    
    &>a {
      display: flex;
      align-items: center;
      border: 2px solid darkslateblue;
      border-radius: 1rem;
      background-color: whitesmoke;
      
      >.lu-icon {
        color: whitesmoke;
        background-color: darkslateblue;
        border-radius: 50%;
      }
      
      >.text {
        padding: 0 0.5rem;
        color: darkslateblue;
        font-weight: bold;
        font-size: 0.875rem;
      }
    }
  }
  
  &>div.guide {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    >h4 {
      color: darkslateblue;
      margin: 0.75rem 0;
      padding: 0.125rem 0;
      border-bottom-left-radius: 0.25rem;
      border-bottom: 2px solid lightgray;
    }
    
    >div.guide-info {
      
      >ul {
        display: flex;
        flex-direction: column;
        gap: 1rem 0;
        
        >li {
          display: flex;
          gap: 0 0.375rem;
          
          >span {
            align-self: flex-start;
            display: inline-block;
            padding: 0.125rem 0.5rem;
            margin-top: 0.3rem;
            background-color: darkslateblue;
            color: whitesmoke;
            border-radius: 50%;
            align-content: center;
          }
          
          >.card-info {
            /* background-color: whitesmoke; */
            padding: 0.5rem 0.75rem;
            border-radius: 0.5rem;
            box-shadow: rgba(0, 0, 0, 0.125) -3px 3px 3px 0px;
    
            >h6 {
              display: inline;
              color: teal;
              font-size: 0.8rem;
              box-shadow: rgba(0, 0, 0, 0.125) 0px 1px 2px 0px;
            }
            
            >p {
              color: black;
              font-size: 0.75rem;
              line-height: 1.75;
            }
          }
        }
      }
    }
  }
  
  &>div.cta-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0 0.5rem;
    padding: 1.5rem 0;
    color: darkslateblue;
    
    &>button {
      padding: 0.5rem;
      border-radius: 0.25rem;
      border: 0;
      background-color: orange;
      font-weight: bolder;
    }
  }
}