div.loan-summary {
  >div.lead {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid darkslateblue;
    border-bottom-left-radius: 0.25rem;
    
    >h4 {
      color: darkslateblue;
      align-self: flex-end;
    }
    
    >.actions {
      display: flex;
      gap: 0 0.375rem;
      margin: 0.5rem 0;
      
      >a {
        font-weight: bold;
        font-size: 0.75rem;
        background-color: orange;
        border-radius: 0.25rem;
        padding: 0.25rem 0.5rem;
        border: none;
      }
    }
  }
  
  >div.info {
    
    >h5 {
      color: teal;
      padding: 1rem 0;
    }
    
    >p {
      color: gray;
      font-style: italic;
      margin: 1rem 0;
    }
    
    >table {
      display: flex;
      flex-direction: column;
      border: 2px solid teal;
      border-radius: 0 0.25rem 0.25rem 0.25rem;
      
      tr {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        
      }
      
      thead {
        background-color: #ffe5bc;
        color: darkslateblue;
        border-bottom: 1px solid teal;
      }
      
      tbody>tr {
        &:nth-child(odd) {
          background-color: whitesmoke;
        }
        
        &:not(&:last-child) {
          border-bottom: 1px solid lightgray;
        }
        
        >td:nth-child(2),
        >td:last-child {
          text-align: right;
        }
        
        >td:nth-child(3) {
          text-align: center;
        }
      }
      
      th,
      td {
        text-align: left;
        padding: 0.5rem 0.25rem;
        font-size: 0.75rem;
        overflow-x: hidden;
        white-space: nowrap;
        
        &:not(&:last-child) {
          border-right: 1px solid rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}

div.loan-apply,
div.loan-repay {
  >.lead {
    border-bottom: 2px solid darkslateblue;
    border-bottom-left-radius: 0.25rem;
    margin: 1rem 0;
    color: darkslateblue;
  }
  
}

div.loan-repay {
  
  >.info {
    border-radius: 0.5rem;
    padding: 0.75rem 0.5rem;
    line-height: 2;
    font-size: 0.875rem;
    box-shadow: rgba(0, 0, 0, 0.125) -3px 3px 3px 0px;
    
    >p>a {
      color: orangered;
      text-decoration: underline dashed orangered 2px;
    }
    
    >ul>li {
      display: flex;
      align-items: center;
      
      >.lu-icon {
        color: teal;
      }
    }
    
    >p>strong,
    >ul>li>span>strong {
      color: teal;
    }
  }
}

div.loan-apply {
  
  >div.info {
    
    >p.alt {
      color: gray;
      font-style: italic;
      margin: 1rem 0;
    }
    
    >div.loan-offers {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0 1rem;
      height: 8rem;
      padding: 0.5rem 0;
      
      >span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: whitesmoke;
        text-align: center;
        font-weight: bold;
        color: teal;
        border-radius: 50%;
        box-shadow: rgba(0, 0, 0, 0.125) -3px 3px 3px 0px;
        
        width: calc(2rem + var(--idx) * 1rem);
        height: calc(2rem + var(--idx) * 1rem);
      }
      
      >small {
        color: darkslateblue;
        font-weight: bold;
      }
    }
    
    >div.loan-form {
      
      >h4 {
        color: darkslateblue;
      }
      
      >form {
        
        >div.input-info {
          width: fit-content;
          
          &:has(input:focus) {
            border-bottom-left-radius: 0.25rem !important;
            
            >label {
              color: darkorange;
              background-color: transparent !important;
              text-shadow: 0.125px 0.125px 0px black;
            }
          }
          
          >input {
            width: 5rem;
          }
        }
        
        >div.due {
          margin: 1rem 0;
          color: darkslateblue;
          
          small {
            color: orangered;
          }
        }
        
        >button {
          font-weight: bold;
          color: black;
          background-color: orange;
          padding: 0.5rem 1rem;
          border-radius: 0.25rem;
          border: none;
        }
      }
      
      >div.reminder {
        >small {
          display: block;
          font-style: italic;
          color: orangered;
          margin: 1rem 0;
        }
      }
    }
  }
}