div.container {
  display: flex;
  flex-direction: column;
  
  
  &>div.header {
    box-shadow: rgba(0, 0, 0, 0.375) 0px 1px 6px -2px;
    position: sticky;
    top: 0;
    background-color: papayawhip;
    
    &>div.wrapper {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 0;
      width: 90%;
      margin: 0 auto;
      position: relative;
      
      &>div.logo {
        
        &>h3 {
          font-size: 1.5rem;
          background: linear-gradient(darkslateblue, teal);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      
      &>div.utils {
        display: flex;
        align-items: center;
        gap: 0 0.75rem;
      }
    }
  }
  
  &>div.main {
    flex: 1;
    align-self: center;
    width: 90%;
  }
  
  &>div.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.125rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: darkslateblue;
    font-weight: bold;
    background-color: papayawhip;
    box-shadow: rgba(0, 0, 0, 0.375) 0px 1px 4px 0px;
  }
}