div.sidebar {
  position: absolute;
  top: 3rem;
  right: 0;
  width: 6.5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.125) -3px 3px 3px 0px, papayawhip 3px -3px 0px 0px;
  background-color: papayawhip;
  width: 12rem;
  
  &>div.wrapper {

    /* padding: 0.5rem; */
    &>ul {
      display: flex;
      flex-direction: column;
      
      &>li {
        
        &>a {
          display: flex;
          align-items: center;
          gap: 0 0.375rem;
          padding: 1rem 3rem 1rem 1rem;
          border-radius: 0.25rem;
          color: darkslateblue;
          
          &.active {
            background-color: orange;
            color: whitesmoke
          }
        }
      }
      
      &>button {
        display: flex;
        align-items: center;
        gap: 0 0.375rem;
        padding: 1rem 3rem 1rem 1rem;
        color: orangered;
        background-color: transparent;
        font-size: 1rem;
        border: none;
      }
    }
  }
}